<!-- shopping-cart -->
<!--<div id="page-header" class="shopping-cart">
    <div class="container">
        <div class="page-header-content text-center">
            <div class="page-header wsub">
                <h1 class="page-title fadeInDown animated first">{{'Cart' | r | xlat}}</h1>
                 <p class="pull-right" ng-click="onPrint()"><span><i class="fa fa-print text-primary" rel="tooltip" title="{{'Print' | r | xlat}}" ></i></span></p>
            </div>
        </div>
    </div>
</div>-->
<div class="row" id="shopping-cart">
<h3 style="margin:50px">Cart</h3>
<hr style="width:101%">
<div class="pull-right" style="margin-right:10px;margin-bottom:20px">
<span>
<strong>{{currentOrder.Subtotal | culturecurrency}}</strong> 
    <button type="button" class="btn" ng-class="{'btn-warning': cart.$invalid, 'btn-success': !cart.$invalid }"  ng-click="checkOut()" ng-disabled="cart.$invalid || kitValidation"></span>
        <span class="ng-binding">Check Out </span>
    </button>
    <br>
</div>
<div ng-show="currentOrder">
  <form ng-submit="saveChanges()" name="cart" novalidate="">
      <loadingindicator  ng-show="displayLoadingIndicator" title="{{'Please wait while we save your order' | r | xlat}}"/>
      <div>
          <cartmessage />
      </div>
    <div class="">
      <!--<h3 class="panel-title">
          {{currentOrder.LineItems.length}} {{'item' + (currentOrder.LineItems.length > 1 ? 's' : '') | rl | xlat}} {{'in your' | rl | xlat:(currentOrder.LineItems.length)}} {{'cart' | rl | xlat}}
      </h3>-->
        <!-- shopping cart table -->
        <table class="shopping-cart">
            <thead>
                <tr>
                    <th class="image"><h5>Product Image</h5></th>
                    <th><h5>Product</h5></th>
                    <th><h5>Unit Price</h5></th>
                    <th><h5>Quantity</h5></th>
                    <th><h5>Total</h5></th>
                    <th><h5>&nbsp;</h5></th>
                </tr>
            </thead>
            <tbody>
                <tr class="cart-item" ng-repeat="item in currentOrder.LineItems">
                    <td class="image">
                      <figure>
                          <img ng-src="{{item.Product.LargeImageUrl}}" />
                      </figure>
                    </td>
                    <td>
                      {{item.Product.Name}}
                    </td>
                    <td>
                      {{item.UnitPrice | culturecurrency}}
                    </td>
                    <td class="qty"><quantityfield required="true" lineitem="item" class="quantity"/></td>
                    <td>{{item.LineTotal | culturecurrency}}</td>
                    <td class="remove">
                        <a ng-href="{{(item.Product.Type == 'Kit' ? 'kit' : 'cart') + '/' + (item.Product.InteropID) + '/' + (isEditforApproval ? (currentOrder.ID + '/') : '') + ($index)}}">Edit Item</a>
                        <a ng-click="removeItem(item)" href="#x" class="btn btn-danger-filled x-remove">×</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- / shopping cart table -->

        <div class="coupon col-sm-6">
            <!--<div class="row">
                <div class="col-md-4 col-lg-3"></div>
                <div class="col-md-3 col-md-offset-5 col-lg-4 text-right" ng-if="!(user.Permissions.contains('HidePricing'))">
                    <h4 class="text-primary">
                        <strong>{{'Subtotal' | r | xlat}} <span class="text-success">{{currentOrder.Subtotal | culturecurrency}}</span></strong>
                    </h4> 
                    <p ng-show="TaxMethod" ng-if="user.Company.TaxMethod != 'NoTax'">
                        <span class="text-info">{{'Shipping, handling and tax may be added to this subtotal.' | r | xlat}}</span>
                    </p>
                    <button type="button" neworder ng-if="user.Permissions.contains('MultipleShoppingCart') && currentOrder" class="btn btn-default" ng-click="newOrderLoadingIndicator = true;startNewOrder()">
                        <loadingindicator  ng-show="newOrderLoadingIndicator" />
                        <small>{{"Start" | r | xlat}} {{"New" | r | xlat}} {{"Order" | r | xlat}}</small>
                    </button>
                  </div>
             </div>-->
              <orderbuttons view="cart" continue="true"></orderbuttons>
            </div><!-- / input-group -->
            <div class="col-sm-6 cart-checkout">
                
            </div><!-- / cart-checkout -->
        </div><!-- / row -->
    </div><!-- / container -->
</div>
</div>
<!-- / shopping-cart -->
