<!--<div class="panel panel-default" ng-show="currentCategory.SubCategories.length">
    <div class="panel-heading" >
        <h3 class="panel-title" >
            {{'Categories' | r | xlat}}
        </h3>
    </div>
    <div class="panel-category-list">
        <loadingindicator ng-show="categoryLoadingIndicator" title="{{'Please wait while we fetch all categories' | r | xlat}}" />
        <nav class="nav 451_lbl_subcatlist">
            <ul>
                <li class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-repeat="c in currentCategory.SubCategories">
                    <div class="well">
                        <a ng-href="catalog/{{c.InteropID}}">
                            <figure ng-show="c.Image.URL">
                                <img class="img-responsive" ng-src="{{c.Image.URL}}"/>
                            </figure>
                            <div class="empty" ng-show="!c.Image.URL">
                                <span class="fa empty"><i class="fa fa-camera"></i></span>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>-->
<div class="hidden-print">
	<!--<branding />-->
	<div id="header-sliders" ng-if="!products">
        <!-- slider -->
        <div id="slider" class="carousel slide">  
            <div class="carousel-inner">

                <!-- slide 1 -->
                <div class="item active slide1 slider1">
                    <div class="container">
                        <div class="carousel-caption">
                            <div class="row">
                                <div class="col-md-12 slider-content">
                                    <h1 class="slide-title fadeInDown animated first">Chakra OrderStream</h1>
                                </div><!-- slider-content -->
                            </div><!-- / row -->
                        </div><!-- / carousel-caption -->
                    </div><!-- / container -->
                </div><!-- / slide 1 -->
            </div>        
        </div>
        <!-- / slider-->
    </div><!-- / sliders -->
</div>
<div id="categories">
    <div class="">
        <div class="row category-row">
            <loadingindicator ng-show="categoryLoadingIndicator" title="{{'Please wait while we fetch all categories' | r | xlat}}" />
            <div class="col-sm-3 category" ng-repeat="c in currentCategory.SubCategories">
                <div class="text-center category-header">
                    <h4 style="color:#000"><strong>{{c.Name.toUpperCase()}}</strong></h4>
                </div><!--/ page-header -->
                <a href="catalog/{{c.InteropID}}">
                    <div class="category-item" style="padding: 50px;">
                        <figure ng-show="c.Image.URL">
                            <img class="img-responsive" height="300" ng-src="{{c.Image.URL}}"/>
                        </figure>
                        <div class="empty" ng-show="!c.Image.URL">
                            <span class="fa empty"><i class="fa fa-camera"></i></span>
                        </div>
                    </div><!-- / category-item -->
                </a>
            </div><!-- / category -->

        </div><!-- / row -->
    </div><!-- / container -->
</div>
