<div class="row" id="shop">
    <h3 style="margin:50px">{{currentCategory.Name}}</h3>
    <hr style="width:101%">
    <div class="row">
        <p style="margin:30px">{{currentCategory.Description}}</p>
    </div>
    <hr style="width:101%">
    <div class="container">
        <div class="row">
          <loadingindicator ng-show="searchLoading" title="{{'Please wait while we fetch all products' | r | xlat}}" />
            <div class="col-sm-12 content-area">
                <div ng-show="productCount > settings.pageSize">
                    <pagination page="settings.currentPage" max-size="10" rotate="false" boundary-links="true" total-items="productCount"
                                items-per-page="settings.pageSize" direction-links="true" previous-text="{{'Previous' | xlat}}" next-text="{{'Next' | xlat}}" first-text="{{'First' | xlat}}" last-text="{{'Last' | xlat}}"></pagination>
                </div>
                <div id="grid" class="row">
                    <!-- product -->
                    <div class="col-xs-6 col-md-3 product" ng-repeat="product in products | paginate:(settings.currentPage-1) * settings.pageSize | limitTo:settings.pageSize | orderBy:sorter:direction">
                      <shortproductview p="product" user="user" />
                    </div><!-- / product -->

                    <!-- grid-resizer -->
                    <div class="col-xs-6 col-md-3 shuffle_sizer"></div>
                    <!-- / grid-resizer -->

                </div><!-- / row -->

                <div ng-show="productCount > settings.pageSize" class="pagination">
                    <pagination page="settings.currentPage" max-size="10" rotate="false" boundary-links="true" total-items="productCount"
                        items-per-page="settings.pageSize" direction-links="true" previous-text="{{'Previous' | xlat}}" next-text="{{'Next' | xlat}}" first-text="{{'First' | xlat}}" last-text="{{'Last' | xlat}}"></pagination>
                </div>

            </div><!-- / content-area -->

        </div><!-- / row -->
    </div><!-- / container -->
</div>
