<div id="address_edit">
    <div class="view-form-icon" ng-hide="address.IsCustEditable == false">
        <div class="row">
            <div class="col-sm-12">
                <p for="Autocomplete">{{'Quick Address' | r | xlat}}</p>
                <input type="text" id="Autocomplete" class="form-control" details="addressobj" placeholder="{{'Enter a location' | r | xlat}}" ng-autocomplete ng-model="addressresult"/>
            </div>
        </div>
    </div>
    <form name="addressEdit" ng-submit="save()">
        <div class="row">
            <div class="col-sm-6 view-form-icon">
                <div>
                    <p ng-class="{'required': address.IsCustEditable != false}">{{('Address' | r) + ' ' + ('Name' | r) | xlat}}</p>
                    <input name="addressname" class="form-control" type="text" ng-model="address.AddressName" placeholder="{{('Address' | r) + ' ' + ('Name' | r) | xlat}}" autocomplete="off" ng-required="address.IsCustEditable != false" ng-disabled="address.IsCustEditable == false" />
                    <div ng-show="addressEdit.addressname.$invalid" class="error" role="alert">
                      <div ng-message="required">Enter some address name.</div>
                    </div>
                </div>
                <div>
                    <p ng-class="{required: address.IsBilling && address.IsCustEditable != false}">{{('First' | r) + ' ' + ('Name' | r) | xlat}}</p>
                    <input name="firstname" class="form-control" type="text" ng-model="address.FirstName" placeholder="{{('First' | r) + ' ' + ('Name' | r) | xlat}}" autocomplete="off" ng-required="address.IsBilling && address.IsCustEditable != false" ng-disabled="address.IsCustEditable == false" />
                    <div ng-show="addressEdit.firstname.$invalid" class="error" role="alert">
                      <div ng-message="required">Enter first name.</div>
                    </div>
                </div>
                <div>
                    <p ng-class="{required: address.IsBilling && address.IsCustEditable != false}">{{('Last' | r) + ' ' + ('Name' | r) | xlat}}</p>
                    <input name="lastname" class="form-control" type="text" ng-model="address.LastName" placeholder="{{('Last' | r) + ' ' + ('Name' | r) | xlat}}" autocomplete="off" ng-required="address.IsBilling && address.IsCustEditable != false" ng-disabled="address.IsCustEditable == false" />
                    <div ng-show="addressEdit.lastname.$invalid" class="error" role="alert">
                      <div ng-message="required">Enter last name.</div>
                    </div>
                </div>
                <div>
                    <p>{{('Company' | r) + ' ' + ('Name' | r) | xlat}}</p>
                    <input name="companyname" class="form-control" type="text" ng-model="address.CompanyName" autocomplete="off" placeholder="{{('Company' | r) + ' ' + ('Name' | r) | xlat}}" ng-disabled="address.IsCustEditable == false" />
                </div>
                <div>
                    <p ng-class="{required: isPhoneRequired()}">{{'Phone' | r | xlat}}</i></p>
                    <input name="phone" class="form-control" type="text" ng-model="address.Phone" placeholder="{{'Phone' | r | xlat}}" autocomplete="off" ng-required="isPhoneRequired() && address.IsCustEditable != false" ng-disabled="address.IsCustEditable == false" />
                    <div ng-show="addressEdit.phone.$invalid" class="error" role="alert">
                      <div ng-message="required">Enter phone number.</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 view-form-icon">
                <div>
                    <p ng-class="{'required': address.IsCustEditable != false}">{{'Address Line 1' | r | xlat}}</p>
                    <input name="street1" class="form-control" type="text" ng-model="address.Street1" placeholder="{{'Address Line 1' | r | xlat}}" autocomplete="off" ng-required="address.IsCustEditable != false" ng-disabled="address.IsCustEditable == false" />
                    <div ng-show="addressEdit.street1.$invalid" class="error" role="alert">
                      <div ng-message="required">Enter street address</div>
                    </div>
                </div>
                <div>
                    <p>{{'Address Line 2' | r | xlat}}</p>
                    <input name="street2" class="form-control" type="text" ng-model="address.Street2" placeholder="{{'Address Line 2' | r | xlat}}" autocomplete="off" ng-disabled="address.IsCustEditable == false" />
                </div>
                <div>
                    <p ng-class="{'required': address.IsCustEditable != false}">{{'City' | r | xlat}}</p>
                    <input name="city" class="form-control" type="text" ng-model="address.City" placeholder="{{'City' | r | xlat}}" autocomplete="off" ng-required="address.IsCustEditable != false" ng-disabled="address.IsCustEditable == false" />
                    <div ng-show="addressEdit.city.$invalid" class="error" role="alert">
                      <div ng-message="required">Enter city</div>
                    </div>
                </div>
                <div ng-show="!hasStates()">
                    <p ng-class="{required: !hasStates && address.IsCustEditable != false}">{{'State' | r | xlat}}</i></p>
                    <input ng-show="!hasStates()" class="form-control" type="text" ng-model="address.State" placeholder="{{'State' | r | xlat}}" autocomplete="off" ng-required="!hasStates() && address.IsCustEditable == false" ng-disabled="address.IsCustEditable == false" />
                    <div ng-show="addressEdit.phone.$invalid" class="error" role="alert">
                      <div ng-message="required">Enter state</div>
                    </div>
                </div>
                <div ng-show="hasStates()" ng-class="{'view-form-select': !address.State, '': address.State }">
                    <p ng-class="{required: hasStates && address.IsCustEditable != false}">{{'State' | r | xlat}}</i></p>
                    <select ng-show="hasStates()" class="form-control" ng-model="address.State" placeholder="{{'State' | r | xlat}}" ng-required="hasStates() && address.IsCustEditable == false" ng-disabled="address.IsCustEditable == false">
                        <option ng-repeat="state in states | filter:country" value="{{state.value}}">{{state.label}}</option>
                    </select>
                    <div ng-show="addressEdit.state.$invalid" class="error" role="alert">
                      <div ng-message="required">Select a state</div>
                    </div>
                </div>
                <div>
                    <p ng-class="{required: hasStates() && address.IsCustEditable != false}">{{'Zip' | r | xlat}}</p>
                    <input name="zip" class="form-control" type="text" ng-model="address.Zip" placeholder="{{'Zip' | r | xlat}}" autocomplete="off" ng-required="hasStates() && address.IsCustEditable != false"
                           ng-disabled="address.IsCustEditable == false" />
                    <div ng-show="addressEdit.zip.$invalid" class="error" role="alert">
                      <div ng-message="required">Enter zip code</div>
                    </div>
                </div>
                <div ng-class="{'view-form-select': !address.Country, '': address.Country }">
                    <p ng-class="{'required': address.IsCustEditable != false}">{{'Country' | r | xlat}}</p>
                    <select name="country" class="form-control" ng-model="address.Country" placeholder="{{'Country' | r | xlat}}" ng-required="address.IsCustEditable != false" ng-disabled="address.IsCustEditable == false">
                        <option ng-repeat="country in countries" value="{{country.value}}">{{country.label}}</option>
                    </select>
                    <div ng-show="addressEdit.country.$invalid" class="error" role="alert">
                      <div ng-message="required">Select a country</div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row create-address-type">
            <div class="checkbox checkbox-default space-bottom">
                <label class="hide"><input name="isShipping" type="checkbox" ng-model="address.IsShipping" ng-required="!address.IsBilling" ng-disabled="address.IsCustEditable == false" /></label>
                <input id="checkbox1" name="isShipping" type="checkbox" ng-model="address.IsShipping" ng-required="!address.IsBilling" ng-disabled="address.IsCustEditable == false" />
                <label ng-show="user.Permissions.contains('CreateShipToAddress')" for="checkbox1"><span>{{'Save to Shipping Address Book' | r | xlat}}</span></label>
            </div>
            <div class="checkbox checkbox-default space-bottom">
                <label class="hide"><input name="isBilling" type="checkbox" ng-model="address.IsBilling" ng-required="!address.IsShipping" ng-disabled="address.IsCustEditable == false" /></label>
                <input id="checkbox2" name="isBilling" type="checkbox" ng-model="address.IsBilling" ng-required="!address.IsShipping" ng-disabled="address.IsCustEditable == false" />
                <label ng-show="user.Permissions.contains('CreateBillToAddress')" for="checkbox2"><span>{{'Save to Billing Address Book' | r | xlat}}</span></label>
            </div>
        </div>
        <p class="alert alert-warning text-center" ng-show="addressEdit.isShipping.$invalid || addressEdit.isBilling.$invalid">
            {{'An address must be saved to the shipping, billing or both address books.' | r | xlat}}
        </p>
        <div class="">
            <span class="alert alert-warning" ng-show="objectExists">{{'An address with that name already exists. Please specify another name' | r | xlat}}</span><br />
            <button ng-if="(user.Permissions.contains('CreateShipToAddress') || user.Permissions.contains('CreateBillToAddress')) && address.IsCustEditable" class="btn btn-danger" ng-click="delete()" type="button">{{'Delete' | r | xlat}}</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">{{'Cancel' | r | xlat}}</button>
            <button ng-if="(user.Permissions.contains('CreateShipToAddress') || user.Permissions.contains('CreateBillToAddress')) && address.IsCustEditable != false" class="btn btn-primary pull-right" type="submit" ng-disabled="addressEdit.$invalid" id="451_btn_user">
                {{'Save' | r | xlat}} {{address.AddressName}}
            </button>
        </div>
    </form>
</div>
