<div class="row">
  <div class="col-sm-6" ng-if="continue">
    <button type="button" class="btn btn-info" redirect="catalog">
        <small class="hidden-xs">{{'Continue Shopping' | r | xlat}}</small>
        <small class="visible-xs">{{'Shop' | r | xlat}}</small>
    </button>
    <button type="submit" class="btn btn-primary" ng-click="saveChanges()">
        <small>{{('Save' | r) + ' ' + ('Order' | r) | xlat}}</small>
    </button>
  </div>
  <div class="col-sm-6">
    <button type="button" class="btn btn-danger" ng-click="currentOrder.Status == 'AwaitingApproval' ? cancelEdit() : cancelOrder()">
        <small ng-if="currentOrder.Status != 'AwaitingApproval'">{{('Cancel' | r) + ' ' + ('Order' | r) | xlat}}</small>
        <small ng-if="currentOrder.Status == 'AwaitingApproval'">{{('Cancel' | r) + ' ' + ('Edit' | r) | xlat}}</small>
    </button>
     <button type="button" class="btn" ng-class="{'btn-warning': cart.$invalid, 'btn-success': !cart.$invalid }" ng-click="checkOut()" ng-disabled="cart.$invalid || kitValidation">
        <span>{{'Check Out' | r | xlat}} {{window.outerWidth}}</span>
    </button>
  </div>
</div>
